<UserScriptConfig>
	<Script filename="google_image_relinker.user.js" name="Google Image Relinker" namespace="http://patcavit.com/greasemonkey" description="Rewrites Google Image Search links to point straight to the pictures" enabled="true" basedir="google_image_relinker">
		<Include>http://images.google.*/*</Include>
	</Script>
	<Script filename="jaspers_google_reader_su.user.js" name="Jasper's Google Reader subscribe" namespace="http://browservulsel.blogspot.com/" description="v0.3 - Another Google Reader subscriber. This one was designed to use as little screen size as possible. It only adds a feed icon in the top right corner. On mouse over the subscribe links are shown." enabled="false" basedir="jaspers_google_reader_su">
		<Include>*</Include>
	</Script>
	<Script filename="download_video_from_yout.user.js" name="Download Video from YouTube" namespace="userscripts.org" description="adds a link to download flv form YouTube" enabled="true" basedir="download_video_from_yout">
		<Include>*youtube.com/*v=*</Include>
	</Script>
	<Script filename="youtube_enhancer.user.js" name="YouTube Enhancer" namespace="http://userscripts.org/scripts/show/33042" description="Download Link + Quality Selector + Rollover Preview + Media Controller" enabled="true" basedir="youtube_enhancer">
		<Include>http://*.youtube.*/*</Include>
		<Include>http://youtube.*/*</Include>
	</Script>
	<Script filename="lastfm_-_lyrics.user.js" name="Last.fm - Lyrics" namespace="http://userscripts.org/users/43234" description="Adds lyrics from LyricWiki to a Last.fm song page." enabled="true" basedir="lastfm_-_lyrics">
		<Include>http://www.last.fm/music/*/*/*</Include>
		<Include>http://www.lastfm.*/music/*/*/*</Include>
	</Script>
	<Script filename="lastfm_event_shoutbox_fe.user.js" name="Last.fm event shoutbox feed" namespace="http://chopeen.blogspot.com/" description="This script adds an Atom feed to a shoutbox on every Last.fm event page" enabled="true" basedir="lastfm_event_shoutbox_fe">
		<Include>http://www.last.fm/event/*</Include>
		<Include>http://last.fm/event/*</Include>
		<Include>http://www.lastfm.*/event/*</Include>
		<Include>http://lastfm.*/event/*</Include>
	</Script>
	<Script filename="lastfm_-_percentage.user.js" name="Last.fm - Percentage" namespace="http://code.google.com/p/lastfm-gm-scripts/ " description="Display percentage statistics on user profile" enabled="true" basedir="lastfm_-_percentage">
		<Include>http://www.last.fm/user/*</Include>
		<Include>http://beta.last.fm/user/*</Include>
		<Include>http://last.fm/user/*</Include>
	</Script>
	<Script filename="co-opsmile_to_ofx.user.js" name="Co-op/Smile to OFX" namespace="http://userscripts.org/scripts/show/6976" description="UNOFFICIAL script to convert co-op and smile bank statements and co-op credit card statements into CSV and OFX files" enabled="true" basedir="co-opsmile_to_ofx">
		<Include>https://welcome22.smile.co.uk/SmileWeb/getDomesticStatementPage.do*</Include>
		<Include>https://welcome22.smile.co.uk/SmileWeb/paginateDomesticStatement.do*</Include>
		<Include>https://welcome23.smile.co.uk/SmileWeb/getDomesticStatementPage.do*</Include>
		<Include>https://welcome23.smile.co.uk/SmileWeb/paginateDomesticStatement.do*</Include>
		<Include>https://welcome26.co-operativebank.co.uk/CBIBSWeb/domesticRecentItems*</Include>
		<Include>https://welcome26.co-operativebank.co.uk/CBIBSWeb/balances.do*</Include>
		<Include>https://welcome26.co-operativebank.co.uk/CBIBSWeb/getDomesticStatementPage.do*</Include>
		<Include>https://welcome26.co-operativebank.co.uk/CBIBSWeb/paginateDomesticStatement.do*</Include>
		<Include>https://welcome26.co-operativebank.co.uk/CBIBSWeb/getVisaStatementPage.do*</Include>
		<Include>https://welcome26.co-operativebank.co.uk/CBIBSWeb/visaStatement.do*</Include>
		<Include>https://welcome27.co-operativebank.co.uk/CBIBSWeb/domesticRecentItems*</Include>
		<Include>https://welcome27.co-operativebank.co.uk/CBIBSWeb/balances.do*</Include>
		<Include>https://welcome27.co-operativebank.co.uk/CBIBSWeb/getDomesticStatementPage.do*</Include>
		<Include>https://welcome27.co-operativebank.co.uk/CBIBSWeb/paginateDomesticStatement.do*</Include>
		<Include>https://welcome27.co-operativebank.co.uk/CBIBSWeb/getVisaStatementPage.do*</Include>
		<Include>https://welcome27.co-operativebank.co.uk/CBIBSWeb/visaStatements.do*</Include>
	</Script>
	<Script filename="google_image_relinker_mo.user.js" name="Google Image Relinker Mod" namespace="http://userscripts.org/users/9022" description="http://userscripts.org/scripts/show/5059" enabled="true" basedir="google_image_relinker_mo">
		<Include>http://images.google.tld/images?*</Include>
		<Include>http://images.google.com/images?*</Include>
		<Include>http://images.google.de/images?*</Include>
	</Script>
	<Script filename="unfuck_facebook.user.js" name="UnFuck Facebook" namespace="sizzlemctwizzle" description="An update of the classic unfuck script. Now with a two column homepage layout!" enabled="true" basedir="unfuck_facebook">
		<Include>http://*.facebook.com/*</Include>
		<Include>https://*.facebook.com/*</Include>
	</Script>
	<Script filename="google_extra.user.js" name="google extra" namespace="znerp" description="Displays results for google image search, video search, wikipedia search and dictionary.com search alongside normal google searches." enabled="false" basedir="google_extra">
		<Include>http://www.google.*/search?*q=*</Include>
		<Include>http://www.google.*/*</Include>
	</Script>
	<Script filename="google_shortcuts.user.js" name="Google Shortcuts" namespace="http://userscripts.org/users/50149" description="Allows you to search other sites using the Google search." enabled="false" basedir="google_shortcuts">
		<Include>http://www.google.*/search*</Include>
	</Script>
	<Script filename="userscripts_updater.user.js" name="Userscripts Updater" namespace="meh" description="Easy way to check for scripts updates. Automatic checking, import installed scripts." enabled="true" basedir="userscripts_updater">
		<Include>http://*userscripts.org/*</Include>
	</Script>
	<Script filename="lastfm_2_discogs.user.js" name="Last.fm 2 Discogs" namespace="http://maybe78.blogspot.com" description="Shows a link to Discogs artist search next to any artist link on last.fm" enabled="true" basedir="lastfm_2_discogs">
		<Include>http://*.last.fm/*</Include>
		<Include>http://last.fm/*</Include>
	</Script>
	<Script filename="lastfm_loved_tracks.user.js" name="Last.fm Loved Tracks" namespace="http://patraulea.com/gm" description="Adds URLs to users' Loved Tracks radio on Last.fm" enabled="true" basedir="lastfm_loved_tracks">
		<Include>http://www.last.fm/*</Include>
	</Script>
	<Script filename="lastfm_-_simplified_list.user.js" name="Last.fm - Simplified Listen page" namespace="http://userscripts.org/users/76553" description="Listen page without dynamically loaded information such as similar artists, events and shoutbox." enabled="false" basedir="lastfm_-_simplified_list">
		<Include>http://www.last.fm/listen/*</Include>
		<Include>http://www.lastfm.*/listen/*</Include>
	</Script>
	<Script filename="lastseeq_v11.user.js" name="LastSeeq v1.1" namespace="userscripts.org" description="Download songs from Last.fm" enabled="false" basedir="lastseeq_v11">
		<Include>http://*last.fm/*</Include>
		<Include>http://*lastfm.*/*</Include>
	</Script>
	<Script filename="lastfm_free_downloads.user.js" name="Last.fm free downloads" namespace="last.fm free downloads" description="" enabled="true" basedir="lastfm_free_downloads">
		<Include>http://www.last.fm/music/*/*/*</Include>
		<Include>http://www.lastfm.*/music/*/*/*</Include>
	</Script>
	<Script filename="lastfm_charts_downloader.user.js" name="Last.fm charts downloader" namespace="http://fvds.frih.net/" description="Download songs from Last.fm charts" enabled="true" basedir="lastfm_charts_downloader">
		<Include>http://*last.fm/music/*/+charts</Include>
	</Script>
	<Script filename="lastfm_download_lookup.user.js" name="Last.FM Download Lookup" namespace="userscripts.org" description="Script that adds some search links in last.fm artist pages." enabled="false" basedir="lastfm_download_lookup">
		<Include>http://last.fm/music/*</Include>
		<Include>http://www.last.fm/music/*</Include>
		<Include>http://lastfm.*/music/*</Include>
		<Include>http://www.lastfm.*/music/*</Include>
	</Script>
	<Script filename="youtube_hq__720p_ultimat.user.js" name="YouTube HQ + 720p Ultimate [MAR 2009] [+autoplay off option]" namespace="#aVg" description="Makes ALL your YouTube videos go to HQ automatically. Now with autoplay off and color options. Your favorite YouTube script is better than ever!" enabled="false" basedir="youtube_hq__720p_ultimat">
		<Include>http://*youtube.com/watch?*</Include>
	</Script>
	<Script filename="alert_watcher.user.js" name="Alert Watcher" namespace="alertwatcher" description="Watch for possible malicious alert/confirm/prompt loops and allow the user to break out." enabled="true" basedir="alert_watcher">
		<Include>*</Include>
	</Script>
	<Script filename="sf_projecthomepage.user.js" name="SF Project/Homepage" namespace="http://parasyte.kodewerx.net/userscripts" description="Provides links to/from Sourceforge projects/homepages" enabled="true" basedir="sf_projecthomepage">
		<Include>http://sourceforge.net/*</Include>
		<Include>http://*.sourceforge.net/*</Include>
		<Include>https://*sourceforge.net/*</Include>
		<Exclude>*.txt</Exclude>
		<Exclude>*.css</Exclude>
		<Exclude>*.xml</Exclude>
	</Script>
	<Script filename="sourceforge_-_cleaner_la.user.js" name="SourceForge - Cleaner Layout" namespace="http://simon.arlott.org/gm/" description="Removes the right sidebar and adverts" enabled="true" basedir="sourceforge_-_cleaner_la">
		<Include>http://sourceforge.net/*</Include>
		<Include>https://sourceforge.net/*</Include>
	</Script>
	<Script filename="sourceforge_menus_with_n.user.js" name="SourceForge Menus with No Javascript" namespace="http://userscripts.org/scripts/show/41174" description="This hack will eliminate the need of Javascript for seeing menus on SorceForge.net. (Handy if you have NoScript extension on)  " enabled="false" basedir="sourceforge_menus_with_n">
		<Include>http://sourceforge.net/projects/*</Include>
		<Include>http://www.sourceforge.net/projects/*</Include>
	</Script>
	<Script filename="about_forum_reformatter.user.js" name="About Forum Reformatter" namespace="http://forums.about.com" description="v0.2.6 (4/26/2009 WvW) This script reformats the About.com forum pages. You can customize the functionality through the Tools-&gt;GreaseMonkey-&gt;User Script Commands. " enabled="true" basedir="about_forum_reformatter">
		<Include>http://forums.about.com/n/pfx/forum.aspx?tsn=*&amp;nav=messages&amp;webtag=*</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?*msg=*&amp;webtag=*</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?webtag=*&amp;msg=*</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?*nav=post*</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?*nav=edit*</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?tsn=*&amp;nav=display*</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?folderId=*&amp;listMode=*</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?nav=messages&amp;webtag=*</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?listmode=*&amp;nav=messages&amp;webtag</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?nav=search&amp;webtag=*</Include>
		<Include>http://forums.about.com/n/pfx/forum.aspx?webtag=*&amp;nav=search* </Include>
		<Include>http://forums.about.com/*/messages?msg=*</Include>
	</Script>
	<Script filename="igoogle_-_stop_annoying_.user.js" name="iGoogle - Stop Annoying Auto-Refresh" namespace="http://userscripts.org/users/86416" description="Stops the automatic refresh of iGoogle, so your gadget content doesn't get lost (twitter gadget, games, etc)" enabled="true" basedir="igoogle_-_stop_annoying_">
		<Include>http://www.google.com/ig*</Include>
	</Script>
	<Script filename="gmail_compactor.user.js" name="GMail Compactor" namespace="http://www.pavelgutin.com" description="This maximized the vertical real estate in GMail by colapsing the links on the left to an image box, and moving the search to left side" enabled="false" basedir="gmail_compactor">
		<Include>https://mail.google.com/*</Include>
		<Include>http://mail.google.com/*</Include>
	</Script>
	<Script filename="google_two_columns.user.js" name="Google Two Columns" namespace="userscripts.org" description="Shows the search results in two columns" enabled="false" basedir="google_two_columns">
		<Include>http://www.google.com*/search?*</Include>
		<Include>http://google.com*/search?*</Include>
		<Include>http://www.google.co.*/search?*</Include>
		<Include>http://google.co.*/search?*</Include>
	</Script>
	<Script filename="google_results_highlight.user.js" name="Google Results Highlighter" namespace="http://www.sandaru1.com/" description="highlight popular sites in google results" enabled="false" basedir="google_results_highlight">
		<Include>http://www.google.*/search?*</Include>
	</Script>
	<Script filename="google_-_single_page_res.user.js" name="Google - Single Page Results" namespace="http://blog.monstuff.com/archives/cat_greasemonkey.html" description="Combines the multi-page results on Google.com into single-page view with endless scrolling." enabled="false" basedir="google_-_single_page_res">
		<Include>http://google.com/search?*</Include>
		<Include>http://www.google.com/search?*</Include>
	</Script>
	<Script filename="google_filter_by_date.user.js" name="Google Filter by Date" namespace="http://www.ipodhacking.com" description="Adds a dropdown box to filter google results by date" enabled="false" basedir="google_filter_by_date">
		<Include>http://www.google.com/search* </Include>
		<Exclude>http://www.google.com/*as_qdr*</Exclude>
	</Script>
	<Script filename="auto_highlight_text_on_a.user.js" name="Auto Highlight Text on All Results Pages" namespace="search" description="Highlights the words you used in your search on the search result page and on the page itself, by checking Referrer." enabled="false" basedir="auto_highlight_text_on_a">
		<Include>*</Include>
	</Script>
	<Script filename="gpe.user.js" name="GPE" namespace="http://userscripts.org/scripts/show/9455" description="Adds a &quot;Preview button&quot; that allows you to view actual article in a frame. Clicking again on that button goes back to RSS view. Does work both in List view and expanded view." enabled="true" basedir="gpe">
		<Include>http://reader.google.com/reader/*</Include>
		<Include>https://reader.google.com/reader/*</Include>
		<Include>http://www.google.com/reader/*</Include>
		<Include>https://www.google.com/reader/*</Include>
	</Script>
	<Script filename="torrentz_imdb_rating.user.js" name="Torrentz IMDB Rating" namespace="http://userscripts.org/users/68426" description="Adds  IMDB ratings to movie torrents on torrentz.com" enabled="true" basedir="torrentz_imdb_rating">
		<Include>http://www.torrentz.com/*</Include>
	</Script>
	<Script filename="lastfm_torrent_search_li.user.js" name="Last.fm Torrent Search Links" namespace="userscripts.org" description="Script to add some search links to last.fm artist, album, similar-artists and recommended-artists pages." enabled="true" basedir="lastfm_torrent_search_li">
		<Include>http://last.fm/music/*</Include>
		<Include>http://lastfm.*/music/*</Include>
		<Include>http://www.last.fm/music/*</Include>
		<Include>http://www.lastfm.*/music/*</Include>
		<Include>http://last.fm/home/recs*</Include>
		<Include>http://lastfm.*/home/recs*</Include>
		<Include>http://www.last.fm/home/recs*</Include>
		<Include>http://www.lastfm.*/home/recs*</Include>
	</Script>
	<Script filename="google_fx.user.js" name="Google Fx" namespace="http://userscripts.org/scripts/show/31950" description="Nice Look&amp;Feel + Sites ThumbShots + Global Google Suggest (multi-lang) + Full AutoPage Results + Easy Access to Advance Filters + Relink Images &amp; FullSize preview + Search in Other Searchers + Static Menus &amp; ToolBars + Multi-Language Feature + Full User's Settings... and more. [Op &amp; FF]" enabled="false" basedir="google_fx">
		<Include>http://*.google.*</Include>
		<Include>https://*.google.*</Include>
		<Include>http://*.googleproxy.*</Include>
		<Include>http://64.233.*.*/*</Include>
		<Include>http://66.102.*.*/*</Include>
		<Include>http://74.125.*.*/*</Include>
		<Include>http://216.239.*.*/*</Include>
		<Exclude>http://*.google.*/complete/*</Exclude>
	</Script>
	<Script filename="fullimage.user.js" name="FullImage" namespace="http://jeffpalm.com/fullimage" description="Provides links to the full image on Google's image search" enabled="false" basedir="fullimage">
		<Include>http://images.google.com/images*</Include>
	</Script>
	<Script filename="google_link_preview.user.js" name="Google Link Preview" namespace="http://loucypher.wordpress.com/" description="Adds Clusty.com-like magnifiers on web and news search results to preview a link in a frame" enabled="true" basedir="google_link_preview">
		<Include>http://www.google.tld/search?*</Include>
		<Include>http://www.google.tld/custom?*</Include>
		<Include>http://www.google.tld/search%3F*</Include>
		<Include>http://www.google.tld/custom%3F*</Include>
		<Include>http://www.google.com/blogsearch*</Include>
	</Script>
	<Script filename="hover_links.user.js" name="Hover Links" namespace="http://www.userscripts.org" description="A tooltip pops up when hovering over links." enabled="false" basedir="hover_links">
		<Include>*</Include>
	</Script>
	<Script filename="try_this_search_on.user.js" name="Try This Search On" namespace="http://userscripts.org/people/14536" description="Provides useful links to search engines based on the page that you're viewing or the search that you're performing." enabled="false" basedir="try_this_search_on">
		<Include>*</Include>
	</Script>
	<Script filename="custom_hyperlink_visited.user.js" name="Custom Hyperlink Visited Color (Global)" namespace="http://userstyles.org" description="Hyperlink Visited Styling for ALL WebPages.  This style improves page navigation and element focus, for pages without their own form of displaying the pages you have already visited" enabled="false" basedir="custom_hyperlink_visited">
		<Include>*</Include>
	</Script>
	<Script filename="hover_preview.user.js" name="Hover Preview" namespace="noggieb" description="Shows a tooltip when you hover over links, containing the target page!" enabled="false" basedir="hover_preview">
		<Include>*</Include>
	</Script>
	<Script filename="googles_old_favicon.user.js" name="Google's Old Favicon" namespace="userscripts.org" description="Brings back the old Google favicon" enabled="true" basedir="googles_old_favicon">
		<Include>http://*.google.tld/*</Include>
		<Include>http://google.tld/*</Include>
		<Include>https://*.google.tld/*</Include>
		<Include>https://google.tld/*</Include>
		<Exclude>http://desktop.google.tld/*</Exclude>
		<Exclude>http://docs.google.tld/*</Exclude>
		<Exclude>http://google.tld/notebook/*</Exclude>
		<Exclude>http://groups.google.tld/*</Exclude>
		<Exclude>http://mail.google.tld/*</Exclude>
		<Exclude>http://pack.google.tld/*</Exclude>
		<Exclude>http://pages.google.tld/*</Exclude>
		<Exclude>http://picasaweb.google.tld/*</Exclude>
		<Exclude>http://toolbar.google.tld/*</Exclude>
		<Exclude>http://sites.google.tld/*</Exclude>
		<Exclude>http://spreadsheets.google.tld/*</Exclude>
		<Exclude>http://webaccelerator.google.tld/*</Exclude>
		<Exclude>http://www.google.tld/calendar/*</Exclude>
		<Exclude>http://www.google.tld/notebook/*</Exclude>
		<Exclude>http://www.google.tld/reader/*</Exclude>
		<Exclude>https://docs.google.tld/*</Exclude>
		<Exclude>https://sites.google.tld/*</Exclude>
		<Exclude>https://spreadsheets.google.tld/*</Exclude>
		<Exclude>https://pages.google.tld/*</Exclude>
		<Exclude>https://groups.google.tld/*</Exclude>
		<Exclude>https://mail.google.tld/*</Exclude>
		<Exclude>https://www.google.tld/calendar/*</Exclude>
		<Exclude>https://www.google.tld/health/*</Exclude>
		<Exclude>https://www.google.tld/reader/*</Exclude>
	</Script>
	<Script filename="track_history.user.js" name="track_history" namespace="noggieb" description="Presents a list/tree of the browsing path you took to reach the current page.  An advanced in-page Back button." enabled="false" basedir="track_history">
		<Include>*</Include>
	</Script>
	<Script filename="faviconizegoogle.user.js" name="FaviconizeGoogle" namespace="noggieb" description="Adds Favicons to Google search results." enabled="true" basedir="faviconizegoogle">
		<Include>http://google.*/search?*</Include>
		<Include>http://www.google.com/search?*</Include>
		<Include>http://*google.*/*</Include>
	</Script>
	<Script filename="imdb_search_torrents.user.js" name="IMDB: Search Torrents" namespace="http://userscripts.org/scripts/show/47385" description="Searches multiple torrent sites for the movie, videogame, etc" enabled="true" basedir="imdb_search_torrents">
		<Include>http://*.imdb.com/title/*</Include>
	</Script>
	<Script filename="userscripts_script_chang.user.js" name="Userscripts Script Change Notifier" namespace="http://userscripts.org/users/62523" description="Logs the number of downloads, posts, and fans of each script, and shows the changes upon each visit." enabled="true" basedir="userscripts_script_chang">
		<Include>http://userscripts.org/users/*/scripts*</Include>
	</Script>
	<Script filename="userscripts_show_include.user.js" name="Userscripts show includes" namespace="http://userscripts.org/users/75950" description="Show includes for scripts on userscripts.org" enabled="false" basedir="userscripts_show_include">
		<Include>http://userscripts.org/scripts</Include>
		<Include>http://userscripts.org/scripts?*</Include>
		<Include>http://userscripts.org/scripts/search?*</Include>
	</Script>
	<Script filename="faviconizegoogle.user.js" name="FaviconizeGoogle" namespace="http://userscripts.org/users/89794" description="Adds favicons to each link offered by Google search results." enabled="false" basedir="faviconizegoogle-1">
		<Include>http://www.google.com/search?*</Include>
	</Script>
	<Script filename="googlekingkong.user.js" name="GoogleKingKong" namespace="http://userstyles.org" description="改善 Google 的搜索结果界面，提高阅读效率" enabled="false" basedir="googlekingkong">
		<Include>http://www.google.*/search*</Include>
	</Script>
	<Script filename="reclaim_cpu.user.js" name="Reclaim CPU" namespace="noggieb" description="blah" enabled="true" basedir="reclaim_cpu">
		<Include>*</Include>
		<Exclude>http://*.last.fm/*</Exclude>
	</Script>
	<Script filename="script_updater.user.js" name="Script Updater" namespace="userscripts.org/alien_scum" description="checks all your scripts for updates on user script.org" enabled="false" basedir="script_updater">
		<Include>*</Include>
	</Script>
	<Script filename="reclaim_cpu.user.js" name="Reclaim CPU" namespace="http://userscripts.org/users/89794   (joeytwiddle)" description="Stops Firefox from using up CPU unneccessarily, by removing plugins and disabling javascript timers on tabs which have been left idle.  Useful if you have a slow PC, or you like to open 20 tabs and then do something else without closing them.  Allows the user to restart the plugins when they return to the tab, but not the timers." enabled="false" basedir="reclaim_cpu-1">
		<Include>*</Include>
		<Exclude>http://*.other.sites/where/we/want/to/leave/everything/running</Exclude>
	</Script>
	<Script filename="twitter_search_results_o.user.js" name="Twitter Search Results on Google" namespace="markcarey" description="Shows results from Twitter on Google search pages" enabled="true" basedir="twitter_search_results_o">
		<Include>http://www.google.*/search?*q=*</Include>
		<Include>http://www.google.*/*</Include>
	</Script>
	<Script filename="delicious_search_results.user.js" name="Delicious Search Results on Google" namespace="gaillard" description="Shows results from Delicious on Google search pages" enabled="true" basedir="delicious_search_results">
		<Include>http://www.google.*/search?*q=*</Include>
		<Include>http://www.google.*/*</Include>
	</Script>
	<Script filename="cleanup_fonts.user.js" name="Cleanup Fonts" namespace="noggieb" description="Removes unwanted fonts and uses your own." enabled="true" basedir="cleanup_fonts">
		<Include>*</Include>
	</Script>
	<Script filename="facebook_view_photo_in_a.user.js" name="Facebook View Photo in Album" namespace="znerp" description="Adds a link above photos to see them in their albums, even if you're not friends with the photographer. Adds links to view all photos of a user together (regardless of who took them). Adds links to view whole galleries/albums on one page." enabled="true" basedir="facebook_view_photo_in_a">
		<Include>http://*.facebook.com/photo.php?*</Include>
		<Include>http://*.facebook.com/photo_search.php?*</Include>
		<Include>http://*.facebook.com/album.php?*</Include>
		<Include>http://*.facebook.com/photos.php?subj=*</Include>
		<Include>http://*.facebook.com/*</Include>
	</Script>
	<Script filename="remove_all_facebook_ads.user.js" name="Remove All Facebook Ads" namespace="http://userscripts.org/scripts/show/13787" description="Removes any and all ads from Facebook." enabled="true" basedir="remove_all_facebook_ads">
		<Include>*facebook.com*</Include>
	</Script>
	<Script filename="imdb_enlarge_actor_pictu.user.js" name="IMDB enlarge actor pictures on hover" namespace="http://henrik.nyh.se" description="Enlarges actor pictures in IMDB cast lists when you hover over that table row." enabled="true" basedir="imdb_enlarge_actor_pictu">
		<Include>http://*.imdb.com/title/*</Include>
		<Include>http://imdb.com/title/*</Include>
	</Script>
	<Script filename="linkify_ting.user.js" name="Linkify ting" namespace="http://ergosum.frac.dk/user/" description="Turn plain text links into real clikable links. Attempts to catch links like google.com" enabled="true" basedir="linkify_ting">
		<Include>*</Include>
		<Exclude>http://*.google.*/*</Exclude>
	</Script>
	<Script filename="facebook_auto-colorizer.user.js" name="Facebook Auto-Colorizer" namespace="http://wisc.facebook.com/message.php?id=8638838" description="Colorizes facebook based on the user's photo." enabled="true" basedir="facebook_auto-colorizer">
		<Include>http://*.facebook.com/*</Include>
	</Script>
	<Script filename="facebook_colour_changer.user.js" name="facebook colour changer" namespace="znerp" description="Gives the option of changing the facebook colour scheme!" enabled="false" basedir="facebook_colour_changer">
		<Include>http://*.facebook.com/*</Include>
		<Include>https://*.facebook.com/*</Include>
	</Script>
	<Script filename="google_search_sidebar_fo.user.js" name="Google Search Sidebar for FF3 - Wikipedia, Dictionary.com, Flickr, and Youtube Results" namespace=" " description="Adds a sidebar with search results from Dictionary.com, Wikipedia, Flickr, and Youtube. Please report any bugs." enabled="true" basedir="google_search_sidebar_fo">
		<Include>http://www.google.com/search?*</Include>
	</Script>
</UserScriptConfig>