<shesek_> joeytwiddle, of course, you also have stuff like `allof = (fns...) -> -> return false for fn in fns when not fn arguments...; true`
<-- arcanis has quit (Ping timeout: 245 seconds)
<Bender762> So this is the example of what i want to do... http://jsfiddle.net/dvQvW/2/... The problem is that when i click on one list and then to another, the new replace the old result
<shesek_> joeytwiddle, than, `searchByAge = searchByField 'age'; [].filter allof (searchByName 'bob'), (searchByAge 34)`
--> Textmode (~boneidle@adsl-syd-2-209.ozonline.com.au) has joined ##javascript
<shesek_> joeytwiddle, or in other words- general higher-order function to play around with other functions
