<Sorella> ronny_fro: var Chat = React.createClass({ getInitialState: function(){ return { items : [] } }, render: function(){ return <ul>{ this.state.items.map(x => <li>{ x }</li>) }</ul> }), React.render(document.body, x = Chat());  x.setState({ items: [foo, bar] }); is all there is to it.
