<script src="http://jeromeetienne.github.com/webaudio.js/build/webaudio.js"></script>
<body><script>
    // init the library
    var webaudio	= new WebAudio();
    // create a tone sound
    var sound = webaudio.createSound().tone();
    //
    // insert your code below
    //
    sound.play();
